.all {
  display: flex;
  flex-direction: row;
}

.deco {
  width: 100%;
  background-color: #176b87;
  border-radius: 10em 0 0 0;
  flex: 0 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  flex: 0 0 75%;
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 0 0 0 10em;
}

@media only screen and (max-width: 650px) {
  .info {
    flex-direction: column;
  }
}
