.deco {
  background-color: #176b87;
  border-radius: 0 10em 0 0;
  flex: 1 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playpen Sans", cursive;
  font-weight: 700;
  font-size: 15px;
}

.airline {
  color: #eef5ff;
}

@media only screen and (max-width: 650px) {
  .deco {
    font-size: 23px;
  }
}
