.deco {
  background-color: #176b87;
  border-radius: 0 10em 0 0;
  flex: 1 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.respond {
  flex: 1 0 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ececec;
  border-radius: 0 0 10em 0;
}


.boarding {
  color: #eef5ff;
  flex: 0 0 60%;
}

.airline {
  color: #eef5ff;
}
