.all {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  height: 100%;
  width: 100%;
  /* border: 2px dotted red; */
  /* better */
  /* outline: 2px dotted red; */
}
